site_name: Magnus
site_description: "Pipelines made easy"
strict: false
repo_url: https://github.com/AstraZeneca/magnus-core

# TODO: Set up versioning

docs_dir: "docs"
theme:
  logo: assets/logo.png
  favicon: assets/favicon.png
  name: material
  font:
    code: Roboto Mono
    text: Roboto
  shortcuts:
    help: 191 # ?
    next: 78 # n
    previous: 80 # p
    search: 83 # s
  palette:
    - scheme: default
      primary: amber
      accent: red
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - scheme: slate
      primary: amber
      accent: red
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
  features:
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - header.autohide
    - navigation.top
    - toc.integrate
    - toc.follow
    - search.suggest
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking

# Extensions
markdown_extensions:
  - admonition
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.details
  - footnotes
  - tables
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.snippets:
      base_path: "."
      dedent_subsections: true
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
      separator: "_"
      toc_depth: 2

plugins:
  - search
  - section-index
  - mkdocstrings:
      enabled: !ENV [ENABLE_MKDOCSTRINGS, true]
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            docstring_section_style: list
            allow_inspection: false
            show_signature_annotations: true
            separate_signature: true

# extra_javascript:
#   - https://unpkg.com/mermaid@9.2/dist/mermaid.min.js

extra_css:
  - css/extra.css

nav:
  - "Magnus":
      - "Introduction": "index.md"
      - "Example":
          - "Pipeline Definition": "example/example.md"
          - "Steps": "example/steps.md"
          - "Flow of data": "example/dataflow.md"
          - "Experiment tracking": "example/experiment-tracking.md"
          - "Secrets": "example/secrets.md"
          - "Reproducibility": "example/reproducibility.md"
          - "Retry failures": "example/retry-after-failure.md"
      - "Why magnus?": "why-magnus.md"
  - "Concepts":
      - "Pipeline": "concepts/pipeline.md"
      - "Executor": "concepts/executor.md"
      - "Parameters": "concepts/parameters.md"
      - "Run log": "concepts/run-log.md"
      - "Catalog": "concepts/catalog.md"
      - "Experiment tracking": "concepts/experiment-tracking.md"
      - "Secrets": "concepts/secrets.md"
      - "Nodes":
          - "Stub": "concepts/stub.md"
          - "Task": "concepts/task.md"
          - "Parallel": "concepts/parallel.md"
          - "Map": "concepts/map.md"
          - "Dag": "concepts/dag.md"
  - "Configurations":
      - "Executor": "configurations/executor.md"
      - "Run log": "configurations/run-log.md"
      - "Catalog": "configurations/catalog.md"
      - "Secrets": "configurations/secrets.md"
      - "Experiment tracking": "configurations/experiment-tracking.md"

  # - "Command Line":
  #       - "command-line.md"
  - "Python API": "interactions.md"
  # - "Examples":
  #       - "examples.md"
  - "Extensions": "extensions.md"
