pipeline-executor:
  type: "argo" # (1)
  config:
    pvc_for_runnable: runnable
    defaults:
      image: $docker_image # (3)
      resources:
        limits:
          cpu: "2"
          memory: 4Gi
        requests:
          cpu: "2"
          memory: 4Gi
      env:
        - name: argo_env
          value: "{{workflow.uid}}"
    argoWorkflow:
      metadata:
        generateName: "argo-" # (2)
        namespace: enterprise-mlops
      spec:
        serviceAccountName: "default-editor"


run-log-store: # (4)
  type: chunked-fs
  config:
    log_folder: /mnt/run_log_store
